{% extends 'accounts/home.html' %} {% block content %} {% if message %}
{{message}} {% endif %}

<h1>Staff Signup</h1>

<form class="" action="{% url 'staffsignup' %}" method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"> Email (Username)</label>
      <input
        type="email"
        class="form-control"
        name="email"
        value=""
        placeholder="name@gmail.com"
        id="inputDefault"
        required
      />
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"> Password </label>
      <input
        type="password"
        class="form-control"
        name="password"
        value=""
        placeholder="Password"
        id="inputDefault"
        required
      />
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"> First Name </label>
      <input
        type="text"
        class="form-control"
        name="firstname"
        value=""
        placeholder="Firstname"
        id="inputDefault"
        required
      />
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"> Last Name </label>
      <input
        type="text"
        class="form-control"
        name="lastname"
        value=""
        placeholder="Lastname"
        id="inputDefault"
        required
      />
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"> Date Of Birth </label>
      <input
        type="date"
        class="form-control"
        name="date_of_birth"
        value=""
        id="inputDefault"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleSelect1" class="form-label">Airline</label>
      <select class="form-select" name="airline">
        {% for airline in lst %}
        <option value="{{airline}}">{{airline}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="text-center mt-3">
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>
{% endblock %}
