{% extends 'accounts/home4.html' %} {% block content %}

<h3 class="text-center">Add Booking Agents</h3>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="container">
  <form class="" action="{% url 'add_agent' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label class="col-form-label" for="airline">Airline</label>
      <select class="form-control" name="airline" id="airline">
        <option value="{{staff_airl}}">{{staff_airl}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="email">Agent Email ID</label>
      <select class="form-control" name="email" id="email">
        {% for agent in lst %}
        <option value="{{agent}}">{{agent}}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Agent</button>
  </form>
</div>

{% endblock %}
